*.LST
*.M51
*.OBJ
*.OUT
*.#3
*.#2
*.#1

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.LST
*.M51
*.OBJ
*.OUT
*.out
*.OBJ
*.LST
*.#3
*.M51
*.OBJ
*.#3
*.LST

Source/fuentes/cyglink.txt
Source/fuentes/adc
Source/fuentes/cyglink.txt
Source/fuentes/comunicacion

*.wsp
Proyecto Uvision/Embebido
Proyecto Uvision/Embebido.plg
*.Luciano
*.bak
*.uvopt
*.uvproj
*.plg
*.lnp
*.gch
Proyecto Uvision/Embebido_uvopt.bak
Proyecto Uvision/Embebido.uvopt
Proyecto Uvision/contador 16 bit timer0.__i
Proyecto Uvision/counters
Proyecto Uvision/counters.hex
*.bak
Placa/prueba1.bak
Placa/prueba1.lst
Placa/pinhead-1X01.kicad_mod
Placa/pinhead-1X01.kicad_mod
Placa/prueba1.bak
